{{- if .Values.app.search.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.app.search.configMap.name }}
data:
  RETAIL_CATALOG_OPENSEARCH_ENABLED: "{{ .Values.app.search.enabled }}"
  RETAIL_CATALOG_OPENSEARCH_ENDPOINT: {{ .Values.app.search.endpoint }}
  RETAIL_CATALOG_OPENSEARCH_INDEX: {{ .Values.app.search.index }}
{{- end }}