{{- if .Values.app.search.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.app.search.configMap.name }}
data:
  RETAIL_CATALOG_PERSISTENCE_PROVIDER: {{ .Values.app.search.provider }}
  {{- if (eq "mysql" .Values.app.persistence.provider) }}
  RETAIL_CATALOG_PERSISTENCE_ENDPOINT: {{ include "catalog.mysql.endpoint" . }}
  RETAIL_CATALOG_PERSISTENCE_DB_NAME: {{ .Values.app.persistence.database }}
  {{- end }}
{{- end }}